body {
background-color: white;
}

.home-div {
text-align: center;
margin: 2.5%;
}
.small-circular-img {
/* The image in the header is coming out larger despite the width lmao */
width: 15%;
border-radius: 100%;
background-color: yellow;
}
.tiny-circular-img {
width: 17.5%;
border-radius: 100%;
}
.tiny-circular-img:hover {
background-color: #FFC996;
}

