<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Low-Key Locales</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Low-Key Locales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="home-div">
    <h1 class="display-4 fw-normal">We Are a Community.</h1>
    <p class="lead fw-normal"> Our purpose is to find and share obscure
        hangouts so we can continue to pretend life is fun. </p>
    <img src="../static/fake.jpg" class="small-circular-img">
    <hr>
</div>

<div class="home-div">
    <h1 class="display-6 fw-normal">What kind of hangouts?</h1>
    <div class="row">
        <div class="col-sm">
            <p> Places with WIFI </p>
            <img class="tiny-circular-img" src="../static/wifi.png">
        </div>
        <div class="col-sm">
            <p> Places where you can talk </p>
            <img class="tiny-circular-img" src="../static/chat.png">
        </div>
        <div class="col-sm">
            <p class="col-sm"> Places with music </p>
            <img class="tiny-circular-img" src="../static/music.png">
        </div>
    </div>

    <hr>

</div>


<div class="home-div">
    <h1 class="display-6 fw-normal">Want examples?</h1>

    <div class="card cafe-card">

        <h5 class="card-header card-header-left">{{cafe.name}}</h5>
        <div class="card-body">
            <img src="{{cafe.img_url}}" class="cafe-img">
            <div class="card-contents">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <hr>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>